@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* || CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* || VARIABLES */

:root {
    /* || FONT FAMILY */
    --FF-HEADER: 'Rajdhani', Helvetica;
    --FF-BODY: 'Roboto', Helvetica;

    /* || FONT SIZE */
    --FF-XL: clamp(0.75rem, 4vw, 3rem);
    --FF-L: clamp(0.50rem, 2vw, 2rem);
    --FF-M: clamp(0.40rem, 1.5vw, 1.75rem);
    --FF-S: clamp(0.30rem, 1vw, 1.50rem);

    /* || COLORS */
    --BG-COLOR: whitesmoke;
    --FONT-COLOR: rgb(38, 84, 124);
    --HEADER-COLOR: #88B7D3;
    --BLOCK-COLOR: #D4E5EF;
    --BUTTON-COLOR: #D4E5EF;
    --BUTTON-ACTIVE-COLOR: #26547C;
    --FONT-BUTTON-ACTIVE-COLOR: whitesmoke;
    --ABOUT-BACKGROUND-COLOR: #D4E5EF;
    --FOOTER-COLOR: #26547C;

    /* || PADDING */
    --HEADER-PADDING: 1rem;
    --BLOCK-PADDING-TB: clamp(1rem, 2vh, 3rem);
    --BLOCK-PADDING-SIDE: clamp(0.5rem, 1vh, 1.5rem);
    --BUTTON-PADDING: clamp(0.5rem, 1vw, 2rem);

    /* || MARGIN */
    --MAIN-MARGIN: 1rem;
    --BLOCK-MARGIN: clamp(2rem, 5vh, 3rem);

    /* || WIDTH VALUES */
    --HEADER-IMG-WIDTH: 10%;
    --ABOUT-IMG-WIDTH: clamp(200px, 40%, 500px);
    --LOGO-WIDTH: clamp(100px, 30%, 300px);

    /* || BORDER VALUES */
    --BUTTON-BORDER: 2px solid #26547C;

    /* || BORDER RADIUS VALUES */
    --BUTTON-RADIUS: 30px;

    /* || BOX SHADOW VALUES */
    --IMG-BOX-SHADOW: 5px 10px 15px rgba(38, 84, 125, 0.3);
}

/* || GENERAL STYLE */

html {
    background-color: var(--BG-COLOR);
}

a {
    text-decoration: none;
    color: var(--FONT-COLOR);
}

a:hover,
a:focus-within {
    color: var(--BG-COLOR);
}

button:hover,
button:focus-within {
    background-color: var(--BUTTON-ACTIVE-COLOR);
    color: var(--FONT-BUTTON-ACTIVE-COLOR);
}

/* || UTILITY STYLES */

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.bold {
    font-weight: bold;
}

/* || SECTION STYLES */

.header {
    align-items: center;
    animation: fallDown 0.8s ease-out forwards;
    background-color: var(--HEADER-COLOR);
    display: flex;
    justify-content: space-between;
    padding: var(--HEADER-PADDING);
    position: sticky;
    top: 0;
    transform: translateY(-100%);
    z-index: 1;
}

.main {
    min-height: 100%;
}

/* || BLOCK STYLES */

.header__nav {
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
    font-family: var(--FF-HEADER);
    font-size: var(--FF-XL);
    font-weight: bold;
    opacity: 0;
    padding-right: 1rem;
    text-transform: uppercase;
    transform: translateY(-20%);
}

.header__ul {
    align-items: center;
    display: flex;
    gap: clamp(0.3rem, 2vw, 2rem);
    justify-content: center;
    list-style-type: none;
}

.main__figure {
    position: relative;
}

.main__about {
    display: flex;
    justify-content: center;
    margin-top: var(--BLOCK-MARGIN);
    background: var(--ABOUT-BACKGROUND-COLOR);
    padding: var(--BLOCK-PADDING-TB) var(--BLOCK-PADDING-SIDE);
    font-size: var(--FF-L);
    font-family: var(--FF-HEADER);
    text-transform: uppercase;
    color: var(--FONT-COLOR);
    gap: 2rem;
    opacity: 0;
    transform: translateY(-20%);
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
}

.main__about__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transform: translateY(-20%);
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
}

.main__services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: var(--BLOCK-MARGIN);
    opacity: 0;
    transform: translateY(-20%);
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
}

.main__services__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--LOGO-WIDTH);
    height: auto;
    font-family: var(--FF-BODY);
    font-size: var(--FF-S);
}

.main__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--BLOCK-MARGIN);
    background: var(--ABOUT-BACKGROUND-COLOR);
    padding: var(--BLOCK-PADDING-TB) var(--BLOCK-PADDING-SIDE);
    font-size: var(--FF-L);
    font-family: var(--FF-HEADER);
    text-transform: uppercase;
    color: var(--FONT-COLOR);
    gap: 2rem;
    opacity: 0;
    transform: translateY(-20%);
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
}

footer {
    animation: itemFallDown ease-out both;
    animation-timeline: view();
    animation-range: entry 50% entry 100%;
    transform: translateY(-20%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--FOOTER-COLOR);
    font-size: var(--FF-S);
    font-family: var(--FF-BODY);
    text-transform: uppercase;
    color: var(--BG-COLOR);
    padding: var(--BLOCK-PADDING-SIDE) var(--BLOCK-PADDING-TB);
    gap: 0.25rem;
    font-weight: bold;
}
/* || ELEMENT STYLES */

.header__img {
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
    max-width: var(--HEADER-IMG-WIDTH);
    min-width: clamp(60px, 15%, 150px);
    opacity: 0;
    padding-left: 1rem;
    transform: translateY(-20%);
}

.header__ul-li {
    font-size: var(--FF-XL);
}

.main__h2 {
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
    color: var(--FONT-COLOR);
    display: flex;
    font-family: var(--FF-BODY);
    font-size: var(--FF-L);
    justify-content: center;
    margin: var(--MAIN-MARGIN);
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-20%);
}

.main__image {
    animation: heroImageFallDown 0.6s ease-out 0.3s forwards;
    opacity: 0;
    transform: translateY(-20%);
    position: relative;
}

.main__p__mission {
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
    color: var(--BG-COLOR);
    font-family: var(--FF-BODY);
    font-size: var(--FF-L);
    left: 10%;
    max-width: 40%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
}

.main__about__p {
    text-transform: none;
    font-size: var(--FF-M);
}

.main__about__image {
    animation: itemFallDown 0.6s ease-out 0.3s forwards;
    box-shadow: var(--IMG-BOX-SHADOW);
    opacity: 0;
    transform: translateY(-20%);
    width: var(--ABOUT-IMG-WIDTH);
}

.main__about__button,
.main__contact__button {
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--FF-BODY);
    font-size: var(--FF-M);
    padding: var(--BUTTON-PADDING);
    background-color: var(--BUTTON-COLOR);
    border: var(--BUTTON-BORDER);   
    color: var(--FONT-COLOR);
    border-radius: var(--BUTTON-RADIUS);
}

.main__services__h3 {
    text-transform: uppercase;
    margin-top: 1rem;
    color: var(--FONT-COLOR);
}

.main__services__p {
    margin-top: 1rem;
}

/* || KEYFRAMES */

/* || HEADER ANIMATIONS */

@keyframes fallDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes itemFallDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heroImageFallDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 0.8;
        transform: translateY(0);
    }
}